<!--
<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>

<div *ngIf="question; else showResults">


  <h2>{{question.name}}(Choose {{question.numberOfAnswers}})</h2>

  <img class="img-responsive" style = "width: 500px " src="assets/images/{{question.id}}.png" alt=""/>

  <ul style="list-style-type:none">
    <li  *ngFor="let choice of choices;index as i" >
      <h3>{{numToLetter(i)}})<input #c (change)="onClick(choice.istrue,c)" type="checkbox"  name="choice"  />{{choice.answear}}</h3>
    </li>
  </ul>


    Number Of Answers: {{question.numberOfAnswers}} <br><br>
    Correct answers(must be {{question.numberOfAnswers}}) : {{correctOption}} <br><br>
    Wrong answers(must be 0): {{wrongOption}}<br><br>

  <input type="submit">
</div>

</form>
-->

Selected Categories:<br> <span *ngFor="let sel of selected" style="margin-right:10px">{{sel.id}}) {{sel.name}}<br> </span>


